<!-- _BookPopup.cshtml -->
@model ASI.Basecode.Services.ServiceModels.BookViewModel
@section styles {
    <link rel="stylesheet" href="~/css/admindashboard.css" />
}
@{
    Layout = "_Layout";
}
<div class="modal" id="BookModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalTitle"></h4>
            </div>
            <form method="post" asp-action="AddBook" asp-controller="Book" id="BookForm">
                <div class="modal-body">

                    <input type="hidden" asp-for="bookId" value="0" />
                    <div>
                        <label class="input-label" asp-for="title"></label>
                        <input type="text" asp-for="title" class="form-control" placeholder="Title" />
                    </div>
                    <div>
                        <label class="input-label" asp-for="synopsis"></label>
                        <input type="text" asp-for="synopsis" class="form-control" placeholder="Synopsis" />
                    </div>
                    <div>
                        <label class="input-label" asp-for="publisher"></label>
                        <input type="text" asp-for="publisher" class="form-control" placeholder="Publisher" />
                    </div>
                    <div>
                        <label class="input-label" asp-for="isbn"></label>
                        <input type="text" asp-for="isbn" class="form-control" placeholder="Isbn" />
                    </div>
                    <div>
                        <label class="input-label" asp-for="language"></label>
                        <input type="text" asp-for="language" class="form-control" placeholder="Language" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="modal-button-close" id="Close" type="button" data-dismiss="modal">Close</button>
                    <button class="modal-button" id="Save" type="submit">Add Book</button>
                    <button class="modal-button" id="Update" type="submit" onclick="update();" style="display: none">Update Book</button>

                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/Book.js"></script>
