<!-- _GenrePopupPartial.cshtml -->
@model ASI.Basecode.Services.ServiceModels.GenreViewModel
@section styles {
    <link rel="stylesheet" href="~/css/admindashboard.css" />
}
@{
    Layout = "_Layout";
}
<div class="modal" id="GenreModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalTitle"></h4>
            </div>
            <form method="post" asp-action="AddGenre" asp-controller="Genre" id="GenreForm">
                <div class="modal-body">

                    <input type="hidden" asp-for="genreId" value="0" />
                    <div>
                        <label class="input-label" asp-for="genreName"></label>
                        <input type="text" asp-for="genreName" class="form-control" placeholder="Genre Name" />
                    </div>
                    <div>
                        <label class="input-label" asp-for="description"></label>
                        <input type="text" asp-for="description" class="form-control" placeholder="Short Description" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="modal-button-close" id="Save" data-bs-dismiss="modal" onclick="hideModal();">Close</button>
                    <button class="modal-button" id="Save" type="submit">Add Genre</button>
                    <button class="modal-button" id="Update" type="submit" onclick="update();" style="display: none">Update Genre</button>

                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/Genre.js"></script>
