.vs/*
ASI.Basecode.Data/bin/*
ASI.Basecode.Data/obj/*
ASI.Basecode.WebApp/appsettings.json
ASI.Basecode.WebApp/bin/*
ASI.Basecode.WebApp/obj/*
ASI.Basecode.Resources/bin/*
ASI.Basecode.Resources/obj/*
ASI.Basecode.Services/bin/*
ASI.Basecode.Services/obj/*