@model ForgotPasswordNewViewModel
@using static ASI.Basecode.Resources.Views.Screen
@section styles {
    <link rel="stylesheet" href="~/css/forgotpasswordemail.css" />
}
@{
    ViewData["Title"] = "Reset Password";
    Layout = null; // Since it's a standalone page
}

<div class="container">
    <h1>Reset Password</h1>
    <p>Enter the new password below to reset your password.</p>
    @if (ViewBag.PasswordMismatch != null)
    {
        <p>@ViewBag.PasswordMismatch</p>
    }
    <form asp-controller="Account" asp-action="ForgotPasswordDone" method="post">
        @if (Model != null && Model.OriginalToken != null && Model.Email != null)
        {
            <input type="hidden" name="originalToken" value="@Model.OriginalToken" />
            <input type="hidden" name="email" value="@Model.Email" />
        }

        <label for="NewPassword">New Password:</label>
        <input type="password" id="NewPassword" name="password" placeholder="New Password" required />

        <label for="ConfirmNewPassword">Confirm New Password:</label>
        <input type="password" id="ConfirmNewPassword" name="confirmPassword" placeholder="Confirm New Password" required />

        <input type="submit" value="Submit">
    </form>
</div>