@model ForgotPasswordCodeViewModel
@using static ASI.Basecode.Resources.Views.Screen
@section styles {
    <link rel="stylesheet" href="~/css/forgotpasswordemail.css" />
}
@{
    ViewData["Title"] = "Reset Password";
    Layout = null; // Since it's a standalone page
}

<div class="container">
    <h1>Reset Password</h1>
    <p>Enter the code below to reset your password.</p>
    @if (ViewBag.TokenMismatch != null)
    {
        <p>@ViewBag.TokenMismatch</p>
    }
    <form asp-controller="Account" asp-action="ForgotPasswordNew" method="post">
        @if (Model != null && Model.OriginalToken != null && Model.Email != null)
        {
            <input type="hidden" name="originalToken" value="@Model.OriginalToken" />
            <input type="hidden" name="email" value="@Model.Email" />
        }

        <label for="code">Code:</label>
        <input type="text" id="code" name="token" placeholder="Code" required>
        
        <input type="submit" value="Submit">
    </form>
</div>