@model ForgotPasswordNewViewModel
@using static ASI.Basecode.Resources.Views.Screen
@* @section styles {
    <link rel="stylesheet" href="~/css/forgotpasswordemail.css" />
} *@
@{
    ViewData["Title"] = "Reset Password";
    Layout = null; // Since it's a standalone page
}

<style>
    /* Add your custom styles here */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #053B50;
    }

    .container {
        max-width: 400px;
        margin: 100px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 8px;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    input[type="text"],
    input[type="confirmPassword"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        margin-bottom: 15px;
    }

    input[type="submit"] {
        width: 100%;
        background-color: #176B87;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 15px;
        cursor: pointer;
        outline: none;
        transition: ease .2s;
        margin-top: 15px;
    }

        input[type="submit"]:hover {
            width: 100%;
            background-color: #0D5066;
            transition: ease .2s;
        }

</style>

<div class="container">
    <h1>Reset Password</h1>
    <p>Enter the new password below to reset your password.</p>
    @if (ViewBag.PasswordMismatch != null)
    {
        <p>@ViewBag.PasswordMismatch</p>
    }
    <form asp-controller="Account" asp-action="ForgotPasswordDone" method="post">
        @if (Model != null && Model.OriginalToken != null && Model.Email != null)
        {
            <input type="hidden" name="originalToken" value="@Model.OriginalToken" />
            <input type="hidden" name="email" value="@Model.Email" />
        }

        <label for="NewPassword">New Password:</label>
        <input type="password" id="NewPassword" name="password" placeholder="New Password" required />

        <label for="ConfirmNewPassword">Confirm New Password:</label>
        <input type="password" id="ConfirmNewPassword" name="confirmPassword" placeholder="Confirm New Password" required />

        <input type="submit" value="Submit">
    </form>
</div>