.gradient-custom-2 {
    /* fallback for old browsers */
    background: #ff0000; /* Red */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ff0000, #000000); /* Red, Black */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ff0000, #000000); /* Red, Black */
}

.register-box {
    width: 600px;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.container-fluid {
    margin: 0!important;
    padding: 0!important;
    width: 100%;
}

.body-main {
    height: 100vh;
}

.body-two-section {
    margin: 0;
    padding: 0;
    height: 100%;
}

.first-col {
    width: 50%;
    display: flex;
    background-image: url("/img/lines 1.png");
    background-size: cover;
}

.login-row {
    display: flex;
    width: 100vw;
    height: 100%;
}

.bibliobibuli-logo {
    width: 300px;
    margin: auto;
}

.second-col {
    width: 50%;
    display: flex;
}

.login-card {
    margin: auto;
    width: 65%;
    padding: 20px;
}

.form-label {
    color: white;
}

.login-btn {
    width: 100%;
    background-color: #176B87;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    outline: none;
    transition: ease .2s;
}

    .login-btn:hover {
        width: 100%;
        background-color: #0D5066;
        transition: ease .2s;
    }

.forgot-password {
    margin-top: 15px;
}

.back {
    display: flex;
    justify-content: center;
} 

.back-btn {
    padding-top: 20px;
    cursor: pointer;
    outline: none;
    transition: ease .2s;
}

    .back-btn:hover {
        transition: ease .2s;
    }

.form-footer {
    justify-content: center;
}

