@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model ASI.Basecode.Services.ServiceModels.GenreViewModel
@section styles {
    <link rel="stylesheet" href="~/css/admindashboard.css" />
}
<div class="modal" id="EditGenreModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalTitle">Edit Genre Details</h4>
            </div>
            <form method="put" asp-action="UpdateGenre" asp-controller="Genre" id="GenreForm">
                <div class="modal-body">
                    <div>
                        <input type="hidden" id="editGenreId" asp-for="genreId" />
                        <label class="input-label" asp-for="genreName"></label>
                        <input type="text" id="editGenreName" asp-for="genreName" class="form-control" placeholder="Genre Name" />
                    </div>
                    <div>
                        <label class="input-label" asp-for="description"></label>
                        <input type="text" id="editDescription" asp-for="description" class="form-control" placeholder="Short Description" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="modal-button-close" id="Close" type="button" data-dismiss="modal">Close</button>
                    <button class="modal-button" id="Update" type="submit">Update Genre</button>

                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/Genre.js"></script>
