@using ASI.Basecode.Data.Models;
@model List<Book>


<section>
	<h1 style="color:white">Recent Books</h1>
	@{
		foreach(var book in Model)
		{
			<p style="color:white">@book.title</p>
		}
	}
</section>