@using ASI.Basecode.Data.Models;
@model List<BookAverageRating>

<section>
	<h1 style="color:white">Top Rated Books</h1>
	@{
		foreach(var book in Model)
		{
			<p style="color:white">@book.Book.title</p>
			<p style="color:white">@book.AverageRating</p>
			<hr/>
		}
	}
</section>